
body {
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%; 
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 20px 0;
    display: none;
    
}

.header a {
    text-decoration: none;
    color: #25281F;
}

.logo, #primaryLogo {
    color: #25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 36px;
    font-weight: 700;
}

.ToggleIcon img {
    width: 35px;
    height: 35px;
}

.navContainer {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigationIconsContainer {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: right;
   
    margin-top: 33px;
    margin-bottom: 33px;
    list-style-type: none;
}

.icon {
    width: 50px;
    height: 50px;
}

.primaryNavigationContainer {
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: left;
    
    margin-top: 35px;
    margin-bottom: 35px;
    list-style-type: none;
    padding: 0;
}

.primaryNavigationContainer a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
    color: #25281F;
    transition: 0.2s;
    
}

#activePage {
    font-weight: 600;
    border-bottom: 3px solid #25281F;
    cursor: not-allowed;
}



.primaryNavigationContainer a:hover {
    font-weight:500;
    cursor: pointer;
}

.hero {
    width: 90%;
    margin: 0 auto;
    background-image: url(../images/AboutBackground.JPG);
    background-color: #F3B56C;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-top: 30px;
}

.AboutMainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 65px 0 65px 0;
}

.MainContentContainer {
    width: 90%;
    margin: 0 auto;
    background-color: #BBDDEC;
    max-width: 746px;
    padding: 65px 0 65px 0;
}

.aboutMeText {
    width: 80%;
    margin: 0 auto;
}

.aboutMeText h1 {
    margin-top: 0px;
    color:#25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 48px;
    font-weight: 700;

}

.aboutMeText p {
    margin-bottom: 0px;
    color:#25281F;
    font-size: 16px;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
}

.aboutPageButtonContainer {
    margin: 0 auto;
}

.aboutPageButtonContainer a {
    text-decoration: none;
    color: #25281F;
}

.aboutPageButtonContainer button {
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-size: 24px;
    background-color: #F3B56C;
    border: 0px;
    border-radius: 10px;
    padding: 13px 28px;
    transition: 02.s;
}

.aboutPageButtonContainer button:hover {
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(37,40,31,0.2);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 0px 35px 0px;
}

.footerIconsContainer {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}



.copyrightTextContainer {
    display: flex;
    justify-content: center;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-size: 12px;
    color: #25281F;
}

.copyrightTextContainer p {
    margin: 0px;
}

@media only screen and (max-width: 800px) {
    .aboutPageButtonContainer {
        flex-direction: column;
        gap: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        display: flex;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

    #primaryLogo {
        display: none;
    }

    .navigationIconsContainer {
        justify-content: center;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .primaryNavigationContainer {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin: 0;
    }

    #crossIcon {
        display: none;
    }
}