body {
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%; 
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 20px 0;
    display: none;
    
}

.header a {
    text-decoration: none;
    color: #25281F;
}

.logo, #primaryLogo {
    color: #25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 36px;
    font-weight: 700;
}

.ToggleIcon img {
    width: 35px;
    height: 35px;
}

.navContainer {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigationIconsContainer {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: right;
   
    margin-top: 33px;
    margin-bottom: 33px;
    list-style-type: none;
}

.icon {
    width: 50px;
    height: 50px;
}

.primaryNavigationContainer {
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: left;
    
    margin-top: 35px;
    margin-bottom: 35px;
    list-style-type: none;
    padding: 0;
}

.primaryNavigationContainer a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-weight: 400;
    color: #25281F;
    transition: 0.2s;
    
}

#activePage {
    font-weight: 600;
    border-bottom: 3px solid #25281F;
}



.primaryNavigationContainer a:hover {
    font-weight:500;
    cursor: pointer;
}

.scrollBar {
    position: fixed;
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: white;
}



#scrollspyHeading1 {
    background-color: aqua;
}

.pageContentContainer {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .header {
        display: flex;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

    #primaryLogo {
        display: none;
    }

    .navigationIconsContainer {
        justify-content: center;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .primaryNavigationContainer {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin: 0;
    }

    #crossIcon {
        display: none;
    }
}