body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}



a {
    text-decoration: none;
    color: #25281F;
}

.JHlogo {
    color: #25281F;
    font-family: 'Domine', 'Georgia', 'serif';
    font-size: 2.25rem;
    font-weight: 700;
}



footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875em;
    padding: 3.125em 0 2.1875em 0;
}

.icon {
    width: 50px;
    height: 50px;
}

.footerIconsContainer {
    display: flex;
    gap: 1.875em;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}

.copyrightTextContainer {
    display: flex;
    justify-content: center;
    font-family: 'Heebo', 'Arial', 'Sans Serif';
    font-size: 0.75rem;
    color: #25281F;
}

.copyrightTextContainer p {
    margin: 0;
}